@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

@font-face {
	font-family: baskerville-old-face;
	src: url(../fonts/baskvill.ttf);
}

#aksha {

	h3, h4 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}

	p {
		font-family: 'Lato', sans-serif;
		font-weight: 400;
	}

	#aksha-navbar {
		background-color: #ffffff !important;
		border-bottom: 1px solid #eee;
		box-shadow: 0px 0px 15px #eee;
		font-family: Verdana;

		.navbar-brand img {
			width: 100%;
			max-width: 120px;
		}

		.navbar-toggler {
			border: none;
		}

		.navbar-toggler:focus {
			outline: none;
		}

		.navbar-nav {
			.show {
				background: #444;

				a {
					color: #fff;
					
					&:hover {
						background: #282b2b;
					}
				}

				.dropdown-item{
					padding: 13px;
				}

			}
		}

		.nav-item {
			font-size: 0.9rem;

			i {
				color: #b72d41;
				font-size: 13px;
			}

			.dropdown-menu {
				border-radius: 0px;
				font-size: 0.9rem;
			}
		}



		@media (min-width: 768px) {
			.navbar-brand img {
				width: 100%;
				max-width: 120px;
			}

			.nav-item {
				margin-right: 20px;
			}
		}
	}

	#aksha-section {
		.first-section {
			.circle {
				width: 100%;
				height: 100vh;
				overflow: hidden;

				.lines {
					position: absolute;
					width: 100%;
					max-width: 50rem;
					top: 50%;
					left: 50%;
					margin-top: -25rem;
					margin-left: -25rem;
					z-index: -1;


					@media (max-width: 1024px) and (min-width: 576px) {
						margin-left: -10rem;
						margin-top: -25rem;
						max-width: 20rem;
					}

					@media (max-width: 576px) {
						margin-left: -5rem;
						margin-top: -15rem;
						max-width: 10rem;
					}

					@keyframes rotate360 {
						to {
							transform: rotate(360deg);
						}
					}

					animation: 60s rotate360 infinite linear;
				}

				.heading {
					position: absolute;
					font-family: baskerville-old-face;
					text-align: center;
					font-size: 2rem;
					width: 100%;
					max-width: 400px;
					height: 150px;
					top: 50%;
					left: 50%;
					margin-top: -75px;
					margin-left: -200px;

					@media (max-width: 1024px) {
						font-size: 2.9rem;
						max-width: 600px;
						margin-top: -20px;
						margin-left: -300px;
					}

					@media (max-width: 576px) {
						font-size: 1.5rem;
						max-width: 300px;
						margin-top: -25px;
						margin-left: -150px;
					}
				}

				.vr {
					position: absolute;
					height: 100px;
					top: 50%;
					left: 50%;
					margin-top: 70px;
					margin-left: -25px;
					cursor: pointer;

					@media (max-width: 576px) {
						margin-top: 90px;
					}

					@media (max-width: 1024px ) and (min-width: 576px) {
						margin-top: 250px;
					}

					hr {
						border: none;
						border-left: 1px solid hsla(200, 10%, 50%,100);
						height: 1vh;
						width: 1px;

						@keyframes line {
							to {
								transform: scaleY(5);
							}
						}

						animation: 2s line infinite ease-in-out;
					}
				}
			}
		}

		.second-section {
			background-color: #FCFCF6;
			padding: 3rem;
			border-top: 5px solid transparent;
			-webkit-border-image: url(../../images/homepage/second-section/colored-line.jpg) 20% round;
			-o-border-image: url(../../images/homepage/second-section/colored-line.jpg) 20% round;
			border-image: url(../../images/homepage/second-section/colored-line.jpg) 20% round;

			@media (max-width: 576px) {
				text-align: center;
			}

			h4 {
				font-size: 1.3rem;
			}

			p {
				font-size: 1rem;
			}

			input {
				background: #fff;
				padding: 8px 12px;
				border: none;
				width: 80%;
			}

			.latest-talk {
				background: #F7F7F9;
				cursor: pointer;
				transition: 0.3s ease-in;

				img {
					width: 100%;
				}

				&:hover {
					background: #444444;
					color: #fff;
				}
			}
		}

		.third-section {
			margin-bottom: 8rem;
			text-align: center;

			.featured-article {
				background: #FCFCF6;
				width: 100%;
				max-width: 450px;
				margin: 0px auto;
				transition: 0.3s ease;

				&:hover {
					background: #444444;
					color: #fff;
					cursor: pointer;

					a {
						color: #fff;
					}
				}

				img {
					width: 100%;
				}

				p {
					text-align: left;
					font-size: 0.8rem;
					font-weight: bold;
					padding-left: 1rem;
					padding-top: 1rem;
				}

				a {
					color: #000;
					text-decoration: underline;
					text-align: left;
					display: block;
					font-size: 0.7rem;
					padding-left: 1rem;
					padding-bottom: 1rem;
				}
			}
		}
	}

	#aksha-footer {
		color: #ffffff;
		background-color: #1c1d20;
		font-size: 0.8rem;

		p {
			font-weight: 300;
		}

		a {
			color: #ffffff;
			border: 1px solid #333437;
			display: inline-block;
		}
	}
}
	 

	 