@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700|Source+Sans+Pro:700");
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eee;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#FCD136, #4DC0F0, #D03B8D);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#FCD136, #4DC0F0, #D03B8D);
}

body #aksha-navbar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 0px 15px #eee;
  font-family: Verdana;
}
body #aksha-navbar .navbar-brand img {
  width: 100%;
  max-width: 120px;
}
body #aksha-navbar .navbar-toggler {
  border: none;
}
body #aksha-navbar .navbar-toggler:focus {
  outline: none;
}
body #aksha-navbar .nav-item {
  font-size: 0.9rem;
}
body #aksha-navbar .nav-item i {
  color: #b72d41;
  font-size: 13px;
}
body #aksha-navbar .nav-item .dropdown-menu {
  border-radius: 0px;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  body #aksha-navbar .navbar-brand img {
    width: 100%;
    max-width: 120px;
  }
  body #aksha-navbar .nav-item {
    margin-right: 20px;
  }
}
body #aksha .first-section .hands img {
  width: 100% !important;
  max-width: 100px;
  background: #ffffff;
}
@media (min-width: 768px) {
  body #aksha .first-section .hands img {
    max-width: 170px;
  }
}
body #aksha .first-section h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.4rem;
  background: #ffffff;
}
@media (min-width: 768px) {
  body #aksha .first-section h1 {
    font-size: 2.5rem;
  }
}
body #aksha .first-section p, body #aksha .first-section .some-latest-articles a, body #aksha .some-latest-articles .first-section a {
  font-family: Verdana;
  font-size: 0.8rem;
  background: #ffffff;
}
@media (min-width: 768px) {
  body #aksha .first-section p, body #aksha .first-section .some-latest-articles a, body #aksha .some-latest-articles .first-section a {
    font-size: 1rem;
    width: 75%;
    margin: 0px auto;
  }
}
body #aksha .learn-something-new {
  background-color: #4e8ef7;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
body #aksha .learn-something-new p, body #aksha .learn-something-new .some-latest-articles a, body #aksha .some-latest-articles .learn-something-new a {
  max-width: 255px;
  margin: 0px auto;
  font-size: 0.8rem;
}
body #aksha .learn-something-new .bdr-btm {
  padding: 2px 10px;
  border-bottom: 2px solid #f99f27;
  font-size: 1rem;
}
body #aksha .learn-something-new img {
  max-width: 255px;
  width: 100%;
}
body #aksha .some-latest-articles {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
body #aksha .some-latest-articles img {
  max-width: 250px;
}
body #aksha .some-latest-articles h4 {
  font-weight: 700;
}
body #aksha .some-latest-articles p, body #aksha .some-latest-articles a {
  position: relative;
  color: #ffffff;
  top: -6rem;
  max-width: 200px;
  font-size: 0.8rem;
  margin: 0px auto;
  text-align: left;
}
body #aksha .some-latest-articles a {
  display: block;
  color: #00aadc;
  top: -5rem;
}
body #aksha .footer {
  color: #ffffff;
  background-color: #1c1d20;
  font-size: 0.8rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
body #aksha .footer a {
  color: #ffffff;
  border: 1px solid #333437;
  display: inline-block;
}
